@import "~styles/helpers/_module";

.shipping {
	&__bold {
		color: #51657d;
	}
	&__product-card {
		&-info {
			align-items: center;
		}
	}
	input:checked ~ &__radio-button {
		border: solid 1px #51657d;
		&::after {
			background-color: #51657d;
		}
	}
}
