@import "../styles/style";
:host {
  a {
    &:visited {
      color: $primary-color;
    }
  }

  .name {
    color: $primary_color;
  }
}

.upscale-medium,
.upscale-extra-large {
  :host {
    .name {
      padding-top: 40px;
      text-align: center;
    }
  }
}

.upscale-extra-small,
.upscale-small {
  :host {
    .name {
      text-align: center;
    }
  }
}
