:host {
    &.no-ratio {
    
        ::ng-deep{.generic-image.image-aspect-ratio_1-1{
            padding-top: 0;
            height: 100%;
            .img{
                position: static;
            }
        }
    }
    }
}
