@import "~styles/helpers/_module";
.card {
    .product {
        .product-data {
            align-items: center;
        }
        .prices {
            .price {
                color: #51657d;
            }
        }
    }
}
.remove-button {
    @include clickable;
    color: #51657d;
    &:hover {
        color: #51657d;
    }
}
.upscale-extra-large,
.upscale-large {
    :host.cart-list {
        .list-view {
            .product {
                .product-data {
                    .info {
                        .name {
                            @include medium-font-size;
                            color: #51657d;
                        }
                    }
                }
            }
        }
    }
}
