@import "../../styles/style";

.checkout-sections {
	.formgroup-input-container {
		.shipping-address-list {
			.selected-ship-address {
				.wrapper {
					.actions {
						.chevron::before {
							border-color: #51657d;
						}
					}
				}
			}
			.action-button {
				@include base-font-size;
				color: #51657d;

				&:hover {
					color: #51657d;
				}
			}
		}
		::ng-deep {
			.formgroup__button {
				background-color: $primary-color;
			}
		}
	}
}
.section__button {
	background-color: $primary-color;
	&:hover {
		background-color: $primary-color;
	}
}
.same-as-shipping {
	color: #51657d;
}
