@import "~styles/helpers/_module";
:host {
	.cart {
		&__total-item {
			.vat-total {
				color: #51657d;
			}
		}
	}

	.summary-info {
		.title {
			font-weight: bold;
		}
	}

	.addCoupon {
		.addCoupon-button,
		.removeCoupon-button {
			border: 1px solid #51657d;
			.button-label {
				color: #51657d;
			}
		}
	}
}
