@import '../../styles/style';

.checkout-sections {
	&.in-review {
		.formgroup-input-container {
			background-color: $primary-color;
		}
	}
	.formgroup-input-container {	  
		background-color: $primary-color;
		::ng-deep {
			.formgroup__button {
				background-color: $primary-color;
			}
		}
	}
}

.section__button {
      background-color: $primary-color;
	  &:hover{
      background-color: $primary-color;
   }
}