// Affianca il testo all'immagine relativa
#upscale {

  // Storybook
  .txt-dx {
    upscale-storybbok-content {
      .storybook-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .overlay {
          align-items: center;
          display: flex;
          justify-content: center;

          .overlay-content {
            height: auto;
          }
        }
      }
    }
  }

  // Immagini
  upscale-image {

    &.txt-dx {

      @media (min-width: 1024px) {

        .overlay-content {
          background: transparent;
          position: absolute;
          right: 0;
          top: 0;
          color: white;
          font-weight: bold;
          width: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .image-container {
          display: flex;
          flex-direction: column;
          position: relative;
        }

        .image-component-content-headline,
        .image-component-content-subheadline,
        .link-text,
        .image-component-link-button {
          color: #FFF;
          font-weight: bold;
          text-align: center !important;
        }

      }

    }

  }

}
