@mixin custom-fonts ($id, $font-family) {
  #upscale {

    //  Componenti in cui la classe viene applicata ai contenitori
    // ------------------------------------------------------------
    .font-#{$id} {

      //  Storybook-content
      upscale-storybook-content {
        .storybook-content {
          .storybook-article-headline,
          .storybook-template-id-content-headline {
            font-family: $font-family
          }

        }
      }
    }

    //  Componenti in cui la classe viene applicata al componente
    // -----------------------------------------------------------

    //  Image
    upscale-image {
      &.font-#{$id} {
        .image-component-content-headline,
        .image-component-content-subheadline,
        .link-text,
        .image-component-link-button {
          font-family: $font-family, sans-serif;
        }
      }
    }


    //  Content slot
    upscale-content-slot {
      &.font-#{$id} {
        .content-slot-component-headline,
        .content-slot-component-subheadline,
        .content {
          font-family: $font-family, sans-serif;
        }
      }
    }
    //}

  }
}

//  Genera le classi per ogni font della mappa
@each $id, $font-family in $google-fonts {
  @include custom-fonts($id, $font-family);
}
