@import "~styles/helpers/_module";

:host {
    .quantity-label {
        &__text,
        &__max {
            color: #51657d;
        }
    }

    .inputs {
        .number {
            color: #51657d;
        }
        .action-button {
            color: #51657d;
        }
    }
}
