@import '../styles/style';
:host {
  nav {
    ul {
      li {
        a, a:hover {
          background: transparent;
          text-transform: uppercase;
          color: $headerfont_color;
          font-family: Gotham;
          font-weight: bold;
          white-space: pre;          

          .item-icon {
            padding-bottom: $nav_loghi_padding;
          }
        }
      }
    }
  }
}

//@import 'nav_loghi';
