@import '../styles/style';
:host {
  nav {
    ul {
      li {
        a, a:hover {
          background: transparent;
          text-transform: uppercase;
          color: $headerfont_color;
          font-family: Gotham;
          font-weight: bold;        
          .item-icon {
            padding-bottom: $nav_loghi_padding;
          }
        }
      }
    }
  }
}

.upscale-desktop{
:host {
  nav {
    ul {
      li {
        a, a:hover {       
          padding-right: 10px;
          padding-left: 40px;
        }
      }
    }
  }
}
}
//@import 'nav_loghi';
